
#content {
    display: flex;
    flex-direction: column;
    
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tabLinks {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 16px;
}

.tabLinks:hover {
    background-color: #ddd;
}

.tabLinks:active {
    background-color: #ccc;
}

#restImg {
    height: 400px;
    width: 400px;
}

